/**
* Colors
*/
$organizepro-purple-1: #8996d9;
$organizepro-purple-2: #edf0ff;
$organizepro-blue: #4179e7;
$organizepro-white: #ffffff;
$organizepro-gray-1: #7d7d7d;
$organizepro-gray-2: #ededed;
$organizepro-gray-3: #f5f6fb;
$organizepro-yellow-1: #f2c831;
$organizepro-green-1: #0eb432;

/**
* Fonts
*/
$organizepro-font-family: 'Poppins', sans-serif;
