.main-container {
  width: 100%;
  margin: auto;
  padding: 0rem 10rem;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2.8rem;

  @media (max-width: 1400px) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 2.8rem;
  }

  @media (max-width: 1020px) {
    padding: 0rem 5rem;
  }

  @media (max-width: 880px) {
    padding: 0rem 2rem;
  }
}

.sidebar-container {
  width: 100%;
  @media (max-width: 1400px) {
    margin-bottom: 5rem;
  }
}

.content-container {
  width: 100%;
}
