@import '../../../../styles/abstracts/variables';

.header {
  width: 100%;
  margin: auto;
  padding: 2.5rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    font-size: 1.6rem;
    span {
      color: $organizepro-blue;
    }
  }
  &__user-details {
    font-size: 1.6rem;
  }
  @media (max-width: 1020px) {
    padding: 2.5rem 5rem;
  }
  @media (max-width: 880px) {
    padding: 2.5rem 2rem;
  }
}
