<div class="todo">
  <div class="todo__section todo__section-space-between w-70 todo__section-title">
    <div class="todo__section-left">
      <organizepro-checkbox
        [id]="todo.id"
        (isChecked)="handleTodoCheckbox()"
        [checked]="todo.completed"
      ></organizepro-checkbox>
      <div
        *ngIf="!isEdit"
        class="todo__title"
        [ngClass]="{ 'todo__title--crossed': todo.completed }"
        (dblclick)="isEdit = true"
      >
        <span>{{ todo.title | slice: 0 : 45 }} {{ todo.title.length > 45 ? '...' : '' }} </span>
      </div>
      <div *ngIf="isEdit" class="todo__title w-100" (dblclick)="isEdit = true">
        <input
          type="text"
          class="input-custom w-100"
          [value]="todo.title"
          #todoTextEdit
          (keyup.enter)="editTodo(todoTextEdit.value)"
          (blur)="isEdit = false"
        />
      </div>
    </div>
    <div class="todo__section-right" (click)="deleteTodo(todo.id)">
      <i class="fa fa-times cursor-pointer" aria-hidden="true"></i>
    </div>
  </div>
  <div class="todo__section w-20 text-center d-flex justify-content-center todo__section-date">
    <span>{{ todo.createdAt | date: 'MM-dd-yyyy HH:mm' }}</span>
  </div>
  <div
    (click)="isEdit = true"
    class="todo__section todo__section-action w-10 text-center d-flex justify-content-center cursor-pointer"
  >
    <button class="cursor-pointer">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
  </div>
</div>
